<template id="iframe-template">
  <div data-trix-embed>
    <iframe src="{{src}}" loading="lazy" referrerpolicy="no-referrer" scrolling="no"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; fullscreen; gyroscope; picture-in-picture">
    </iframe>
  </div>
</template>
